<div id="cursors">
    {% for cursor in cursors %}
        <div id="cursor-{{ cursor.player_id }}"
             class="cursor"
             data-owner-id="{{ cursor.player_id }}"
             data-x="{{ cursor.grid_x }}"
             data-y="{{ cursor.grid_y }}"
             data-z="{{ cursor.grid_z }}"
             :data-local-cursor="data.ownerId === data.playerId"
             style="--x:{{ cursor.grid_x }};--y:{{ cursor.grid_y }};--z:{{ cursor.grid_z }};--cursor-offset:{{ cursor.offset }};--color:{{ cursor.color }}">
            <span aria-label="{{ cursor.name }}">
                {{ cursor.initials }}
            </span>
        </div>
    {% endfor %}
</div>
