<div id="cursor-list" class="contents">
    {% for cursor in cursors %}
        <div id="cursor-{{ cursor.token }}" class="cursor"
                {% if player and cursor.token == player.token %}
             data-current
                {% endif %}
             style="--x:{{ cursor.grid_x }}; --y:{{ cursor.grid_y }}; --z:{{ cursor.grid_z }}; --base-color:{{ cursor.color.to_css() }}">
            <span class="cursor-name">
                {% if player and cursor.token == player.token %}
                    You
                {% else %}
                    {{ cursor.name }}
                {% endif %}
            </span>
        </div>
    {% endfor %}
</div>
