<div id="world"
     style="--world-size: {{ world.size }}; color-scheme: {{ world.theme }}">
    {% if world.announcement %}
        <p id="announcement" role="status">
            {{ world.announcement }}
        </p>
    {% endif %}

    <div id="stats" aria-label="Game statistics">
        <details id="players">
            {% include "_players.html" %}
        </details>

        <span>
            <output id="brick-count"
                    :text="$('.brick').count"></output>
            bricks
        </span>
    </div>

    <div id="grid">
        {% include "_bricks.html" %}
        {% include "_cursors.html" %}
    </div>
</div>
