<div id="world"
     {% if world.theme %}data-theme="{{ world.theme }}"{% endif %}
     style="--world-size: {{ world.size }}">
    {% if world.announcement %}
        <p id="announcement" role="status">
            {{ world.announcement }}
        </p>
    {% endif %}

    <div id="stats" aria-label="Game statistics">
        <details id="players" name="controls">
            {% set online = players | selectattr("is_online") | list %}

            <summary class="ui-control" aria-label="{{ online | length }} online players">
                <span class="icon-[lucide--users]" aria-hidden="true"></span>
                <span>{{ online | length }}</span>
                <span class="stat-label">Players</span>
                <span class="players-chevron icon-[lucide--chevron-down]" aria-hidden="true"></span>
            </summary>

            <ul id="player-list">
                {% for player in online %}
                    <li>
                        <span style="--color: {{ player.color }}">
                            {{ player.initials }}
                        </span>
                        <span>{{ player.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </details>

        <span>
            <span class="icon-[lucide--blocks]" aria-hidden="true"></span>
            <output id="brick-count"
                    :text="$('.brick').count"
                    aria-label="Brick count"></output>
            <span class="stat-label">Bricks</span>
        </span>
    </div>

    <div id="grid"
         hx-patch="/cursor"
         hx-trigger="pointerenter target:<.brick, .grid-cell/> capture:true"
         hx-sync="#grid:queue last"
         hx-vals="js:{...$(event.target).data}"
         hx-on="pointerenter target:.grid-cell capture:true ->
                $(event.target).take('data-drag-over')"
    >
        <div id="bricks">
            {% for x in range(world.size) %}
                {% for y in range(world.size) %}
                    {% set stack = brick_stacks[x][y] %}

                    <div id="grid-cell-{{ x }}-{{ y }}"
                         class="grid-cell"
                         data-x="{{ x }}"
                         data-y="{{ y }}"
                         data-z="-1"
                         data-creating="false"
                         style="--x: {{ x }};
                                 --y: {{ y }};
                                 --stack-height: {{ stack | length }}">
                        {% for brick in stack %}
                            <div id="brick-{{ brick.id }}"
                                 class="brick"
                                 data-z="{{ brick.z }}"
                                 data-dragged-by-id="{{ brick.dragged_by_id or '' }}"
                                 :data-local-dragging="data.draggedById == data.playerId"
                                 style="--z: {{ brick.z }};
                                         --color: {{ brick.color }}"
                                 :draggable="!data.deleteMode"
                                 hx-on:dragstart="data.draggedById = data.playerId"
                            >

                                {# Delete brick #}
                                <button hx-delete="/bricks/{{ brick.id }}"
                                        hx-trigger="pointerdown, pointerenter[buttons] delay:100ms"
                                        hx-on::before:request="$('#predictions-toggle').checked && $('closest .brick').remove()"></button>

                                {# Grab brick #}
                                <button hx-post="/bricks/{{ brick.id }}/grab"
                                        hx-trigger="dragstart from:<closest .brick/>"></button>

                                {# Release brick #}
                                <button hx-post="/bricks/{{ brick.id }}/release"
                                        hx-trigger="dragend from:<closest .brick/>"
                                        hx-sync="#grid:queue all">
                                </button>

                                {% if not loop.last %}
                                    </div>
                                {% endif %}
                        {% endfor %}

                        {% if stack | length < world.size %}
                            {# Add or stack brick #}
                            <button hx-post="/bricks"
                                    hx-vals="js:{...data}"
                                    hx-on::before:request="$('#predictions-toggle').checked && (data.creating = true)"
                            ></button>
                        {% endif %}

                        {% if stack %}
                            </div>
                        {% endif %}

                    <span class="brick-preview"></span>
                    </div>
                {% endfor %}
            {% endfor %}
    </div>

    <div id="cursors">
        {% for cursor in cursors %}
            <div id="cursor-{{ cursor.player_id }}"
                 class="cursor"
                 data-owner-id="{{ cursor.player_id }}"
                 data-x="{{ cursor.grid_x }}"
                 data-y="{{ cursor.grid_y }}"
                 data-z="{{ cursor.grid_z }}"
                 :data-local-cursor="data.ownerId === data.playerId"
                 style="--x:{{ cursor.grid_x }};
                         --y:{{ cursor.grid_y }};
                         --z:{{ cursor.grid_z }};
                         --cursor-offset:{{ cursor.offset }};
                         --color:{{ cursor.color }}">
                <span aria-label="{{ cursor.name }}">
                    {{ cursor.initials }}
                </span>
            </div>
        {% endfor %}
    </div>
</div>
</div>
